.nav-link {
    position: relative;
}

.toggle-arrow {
    position: absolute !important;
    top: 9px;
    right: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.nav-link[aria-expanded="true"] .toggle-arrow {
    transform: rotate(-90deg);
}

.nav-item .nav {
    padding-left: 5px;
    background-color: #efefef;
}
